<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atguigu.tingshu.album.mapper.AlbumInfoMapper">

    <update id="updateStat">
        update album_stat
        set stat_num = stat_num + #{count}
        where album_id = #{albumId}
          and stat_type = #{statType}
    </update>

    <select id="selectUserAlbumPage" resultType="com.atguigu.tingshu.vo.album.AlbumListVo">
        select
        info.albumId,
        info.albumTitle,
        info.coverUrl,
        info.includeTrackCount,
        info.status,
        info.createTime,
        MAX(IF(info.statType = '0401', info.statNum, 0)) as playStatNum,
        MAX(IF(info.statType = '0402', info.statNum, 0)) as subscribeStatNum,
        MAX(IF(info.statType = '0403', info.statNum, 0)) as buyStatNum,
        MAX(IF(info.statType = '0404', info.statNum, 0)) as commentStatNum
        from (
        select
        album.id as albumId,
        album.album_title as albumTitle,
        album.cover_url as coverUrl,
        album.include_track_count as includeTrackCount,
        album.status,
        album.create_time as createTime,
        stat.stat_type as statType,
        stat.stat_num as statNum
        from album_info album
        left join album_stat stat on stat.album_id = album.id
        <where>
            <if test="vo.userId != null">
                and album.user_id = #{vo.userId}
            </if>
            <if test="vo.albumTitle != null and vo.albumTitle != ''">
                and album.album_title like CONCAT('%',#{vo.albumTitle},'%')
            </if>
            <if test="vo.status != null and vo.status != ''">
                and album.status = #{vo.status}
            </if>
            and album.is_deleted = 0
        </where>
        ) info
        group by info.albumId
    </select>

    <select id="selectAlbumStat" resultType="com.atguigu.tingshu.vo.album.AlbumStatVo">
        select MAX(IF(info.statType = '0401', info.statNum, 0)) as playStatNum,
               MAX(IF(info.statType = '0402', info.statNum, 0)) as subscribeStatNum,
               MAX(IF(info.statType = '0403', info.statNum, 0)) as buyStatNum,
               MAX(IF(info.statType = '0404', info.statNum, 0)) as commentStatNum
        from (select stat.album_id  as albumId,
                     stat.stat_type as statType,
                     stat.stat_num  as statNum
              from album_stat stat
              where album_id = #{albumId}) info
        group by info.albumId
    </select>

</mapper>

